.card {
    padding: 10px;
    background-color: var(--color2);
    width: 250px;
    border-radius: 5%;
    text-align: center;
    border: 3px solid var(--color3);
    height: 400px;
}

.image {
    border-radius: 100%;
    border: #181818 solid 3px;
    height: 150px;
}

.header {
    color: white;
}

.channels {
    color: white;
    padding-left: 20px;
    text-align: left;
}

.description {
    color: white;
    padding-left: 20px;
    text-align: left;
    font-size: 1rem;
    max-width: 200px;
}