:root {
    --color1: #222831;
    --color2: #31363F;
    --color3: #76ABAE;
    --color4: #EEEEEE;
}

body {
    background-color: var(--color1);
}

.main {
    margin: auto;
    padding-top: 0.5rem;
    width: 1200px;
}